# Visual Studio Code workspace files
*.code-workspace

# VS Code build directory
**/.vscode
.vscode/

# IntelliJ project dir
.idea/


# build artifacts
build/
dist/
obj/
_cache/

*.map
*.com

# emulator configs
altirra-debug.ini
atari800-debug.cfg
AppleWin.log

.DS_Store

*.jar
*.dsk
